[include]
    path = ~/.gitconfig.user
[alias]
    s = status -s

    p = pull --recurse-submodules

    a = add .

    c = commit

    b = branch

    co = checkout

    l = log --all --graph --decorate --oneline --abbrev-commit

    rclone = clone --recursive

    amend = commit --amend --reuse-message=HEAD

    # Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

    whoami = config user.email
